* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 2em;
  font-size: 1.5em;
}
.container .box {
  width: 200px;
  height: 200px;
  font-weight: bold;
  line-height: 200px;
  text-align: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
.container .text {
  width: 200px;
  height: 200px;
  font-weight: bold;
  line-height: 200px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.8);
}
.container img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}