* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

ul {
  display: flex;
  gap: 1em;
}
ul li {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282834;
  padding: 1.5em;
  color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
ul li::before {
  content: attr(data-id);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 221, 0, 0.2078431373);
  border: 1px solid #ffdd00;
  color: #ffdd00;
  padding: 0.5em 2em;
  border-radius: 50px;
  text-transform: uppercase;
}
ul li img {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 1em;
}